	@charset "UTF-8";
	body{
		background-color:#fbf7ee;
		background-image:url(./158.jpg);
		font-family:Verdana, Geneva, sans-serif;
		margin-left:20px;
		color:#8e0001c;
		}
	h1{
		background-color:#8E001C;
		color:#e7e8d1;
		font-family:"Aerail Black",Gadget, sans-serif;
		text-align:center
		}
	h2{
		background-color:rgba(130,0,30,0.6);
		color:#aafeaa;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		margin-left:5px;
		}
 	h4{
		background-color:rgba(0,20,20,0.5);
		color:#FFFFFF;
		text-align:left
		}
	.highlight
		{
			background-color:yellow;
		}
	.whole
		{
		display:table
		}
	.linkTable
		{
		display:table-cell;
		border-style:solid;
		border-width:thin;
		border-color:rgb(0,0,0);
		background-color:rgb(90%,90%,75%);
		width:200px;
		padding-right:5px;
		}
	.contentTable
		{
		border-style:groove;
		border-width:thick;
		border-color:#FF5C19;
		
		width:700px;
		-webkit-border-right-top-radius:15px;
		-webkit-border-left-top-radius:15px;
		}

.CourseTitle:hover
{
cursor:pointer;
background:white;
}
.courseContent {display: none}
